<h1>Lista de productos handlebars</h1>
<div>
  {{#each products}}
    <ul>
      <li>{{this.title}}</li>
      <li>{{this.description}}</li>
      <li>{{this.code}}</li>
      <li>{{this.price}}</li>
      <li>{{this.status}}</li>
      <li>{{this.stock}}</li>
      <li>{{this.category}}</li>
      <li>{{this.thumbnails}}</li>
      <li>{{this.id}}</li>
    </ul>
  {{/each}}
</div>